@font-face {
    font-family: 'Hey Comic';
    src: url('HeyComic.woff2') format('woff2'),
        url('HeyComic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

